.navbar {
	display: flex;
	gap: 40px;
	margin-bottom: 32px;
}
a {
	color: black !important;
}

.icon-link {
	display: flex;
	align-items: center;
	gap: 4px;
}

.dropdown {
	position: relative;
	display: flex;
	flex-direction: column;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	background: white;
	border: 1px solid #ddd;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	min-width: 150px;
	padding: 5px 0;
	border-radius: 4px;
}

.dropdown-menu a {
	padding: 10px 15px;
	text-decoration: none;
	color: black;
}

.dropdown-menu a:hover {
	background: #f0f0f0;
}
