.vennContainer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80vw; /* Adapt to screen width */
	max-width: 600px;
	height: auto;
	aspect-ratio: 1.75 / 1.375; /* Maintain shape */
}

.circle {
	position: absolute;
	border-radius: 50%;
	display: flex;
	padding: 48px 0;
	justify-content: center;
	font-weight: bold;
	color: #222;
	text-align: center;
	width: clamp(20vw, 30vw, 200px);
	height: clamp(20vw, 30vw, 200px);
}

.circleBottom {
	position: absolute;
	border-radius: 50%;
	display: flex;
	padding: 48px 0;
	justify-content: center;
	font-weight: bold;
	color: #222;
	align-items: flex-end;
}

.label {
	font-size: clamp(1rem, 2.5vw, 1.5rem);
	font-weight: lighter;
}

.ux {
	top: 5%;
	left: 35%;
}
.product {
	top: 5%;
	right: 35%;
}
.data {
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
}
