/* Reset styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global styles */
body {
	font-family: "Inter", sans-serif;
	background-color: #fafafa;
	color: #222;
	/* Responsive padding using clamp */
	padding: clamp(32px, 5vw, 128px);

	/* Set max width for better readability */
	max-width: 1440px;
	margin: 0 auto;
}

/* Default link styles */
a {
	text-decoration: none;
	color: inherit;
}

:root {
	--primary-purple: #8c30f5;
	--primary-hover: #efe9ff;
	--w4m-blue: #0077cc;
	--ux-purple: rgba(230, 214, 255, 0.5);
	--ux-purple-hard: #8c30f5;
	--product-blue: rgba(90, 142, 225, 0.5);
	--product-blue-hard: #0077cc;
	--data-green: rgba(119, 178, 85, 0.5);
	--data-green-hard: #4caf50;

	--shadow-default: 0px 5px 25px rgba(0, 0, 0, 0.1);
}

button {
	color: var(--primary-purple);
	border-color: var(--primary-purple);
	border-radius: 8px;
	padding: 8px 24px;
	background-color: transparent;
}

button:hover {
	background-color: var(--primary-hover);
	cursor: pointer;
}

.highlight {
	color: var(--primary-purple);
}
